<div class="login-box">
  <div class="login-logo">
    <strong>Luminate Online</strong><br>
    Data Viewer
  </div>
  <div class="login-box-body">
    <form name="loginform" id="login-form" ng-submit="submit($event)" ng-controller="LoginFormController" novalidate autocomplete="off">
      <div class="alert alert-danger" ng-repeat="alert in alerts">
        {{alert.message}}
      </div>
      <div class="form-group has-feedback" ng-class="{ 'has-error': loginform.$submitted && loginform.url.$invalid }">
        <input type="url" class="form-control" name="url" id="login-url" ng-model="cwslogin.url" placeholder="Web Services URL" required>
        <span class="glyphicon glyphicon-globe form-control-feedback"></span>
        <span ng-show="loginform.$submitted && loginform.url.$invalid && !loginform.url.$error.validUrl" class="help-block">
          Web Services URL is required
        </span>
        <span ng-show="loginform.$submitted && loginform.url.$error.validUrl" class="help-block">
          Web Services URL is invalid
        </span>
      </div>
      <div class="form-group has-feedback" ng-class="{ 'has-error': loginform.$submitted && loginform.username.$invalid }">
        <input type="text" class="form-control" name="username" id="login-username" ng-model="cwslogin.username" placeholder="Username" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <span ng-show="loginform.$submitted && loginform.username.$invalid" class="help-block">
          Username is required
        </span>
      </div>
      <div class="form-group has-feedback" ng-class="{ 'has-error': loginform.$submitted && loginform.password.$invalid }">
        <input type="password" class="form-control" name="password" id="login-password" ng-model="cwslogin.password" placeholder="Password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span ng-show="loginform.$submitted && loginform.password.$invalid" class="help-block">
          Password is required
        </span>
      </div>
      <div class="row">
        <div class="col-xs-offset-8 col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat js--login-form-submit">
            Sign In
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- TODO: check for updates and github links -->
</div>