<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Donations <!-- TODO <small>Updated 9/21/2015 1:25pm</small> -->
    </h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#report-config-modal" data-backdrop="static">
                <i class="fa fa-wrench"></i>
              </button> 
              <button type="button" class="btn btn-box-tool" ng-click="refreshReport()">
                <i class="fa fa-refresh"></i>
              </button> 
              <button type="button" class="btn btn-box-tool" ng-click="download()">
                <i class="fa fa-floppy-o"></i>
              </button>
              <input type="file" class="hidden js--report-save-as" nwsaveas="donations-detail.csv">
            </div>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-striped report-table">
              <thead>
                <tr>
                  <th>
                    Transaction ID
                  </th>
                  <th>
                    Campaign
                  </th>
                  <th>
                    Form
                  </th>
                  <th>
                    Donation Amount
                  </th>
                  <th>
                    First Name
                  </th>
                  <th>
                    Last Name
                  </th>
                  <th>
                    Email Address
                  </th>
                  <th>
                    City
                  </th>
                  <th>
                    State
                  </th>
                  <th>
                    Donation Date
                  </th>
                  <th>
                    Donation Type
                  </th>
                  <th>
                    Payment Type
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="donation in donations">
                  <td>
                    {{donation.TransactionId}}
                  </td>
                  <td>
                    {{donation.CampaignId}}
                  </td>
                  <td>
                    {{donation.FormId}}
                  </td>
                  <td>
                    <span class="hidden">{{donation.Payment.Amount}}</span>
                    {{donation.Payment._AmountFormatted}}
                  </td>
                  <td>
                    {{donation.Donor.ConsName.FirstName}}
                  </td>
                  <td>
                    {{donation.Donor.ConsName.LastName}}
                  </td>
                  <td>
                    <a href="mailto:{{donation.Donor.PrimaryEmail}}">{{donation.Donor.PrimaryEmail}}</a>
                  </td>
                  <td>
                    {{donation.Donor.HomeAddress.City}}
                  </td>
                  <td>
                    {{donation.Donor.HomeAddress.State}}
                  </td>
                  <td>
                    <span class="hidden">{{donation.Payment.PaymentDate}}</span>
                    {{donation.Payment._PaymentDateFormatted}}
                  </td>
                  <td>
                    {{donation._DonationType}}
                  </td>
                  <td>
                    {{donation.Payment._TenderTypeFormatted}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="overlay js--loading-overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal fade" id="report-config-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="reportconfigform" id="report-config-form" ng-submit="updateReportConfig($event)">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
          <h4 class="modal-title">
            Report Settings
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>
              Date Range:
            </label>
            <div class="input-group input-group-full">
              <button type="button" class="btn btn-default btn-white btn-full text-left" id="report-config-datepicker">
                <i class="fa fa-calendar"></i> {{reportconfig.datelabel}} <i class="fa fa-caret-down pull-right"></i>
              </button>
            </div>
            <input type="hidden" name="datelabel" ng-model="reportconfig.datelabel" value="Last 24 Hours">
            <input type="hidden" name="startdate" ng-model="reportconfig.startdate">
            <input type="hidden" name="enddate" ng-model="reportconfig.enddate">
          </div>
          <div class="form-group">
            <label>
              Campaign:
            </label>
            <select class="form-control" name="donationcampaign" ng-model="reportconfig.donationcampaign">
              <option value="">All Campaigns</option>
              <optgroup label="Active">
                <option value="{{donationcampaign.CampaignId}}" ng-repeat="donationcampaign in donationcampaigns | filter: { IsArchived: false } | orderBy: 'Title'">
                  {{donationcampaign.Title}} (ID: {{donationcampaign.CampaignId}})
                </option>
              </optgroup>
              <optgroup label="Archived">
                <option value="{{donationcampaign.CampaignId}}" ng-repeat="donationcampaign in donationcampaigns | filter: { IsArchived: true } | orderBy: 'Title'">
                  {{donationcampaign.Title}} (ID: {{donationcampaign.CampaignId}})
                </option>
              </optgroup>
            </select>
          </div>
          <div class="form-group">
            <label>
              Form:
            </label>
            <select class="form-control" name="donationform" ng-model="reportconfig.donationform">
              <option value="">All Forms</option>
              <optgroup label="Published">
                <option value="{{donationform.FormId}}" ng-repeat="donationform in donationforms | filter: { IsPublished: true, IsArchived: false } | orderBy: 'Title'">
                  {{donationform.Title}} (ID: {{donationform.FormId}})
                </option>
              </optgroup>
              <optgroup label="Unpublished">
                <option value="{{donationform.FormId}}" ng-repeat="donationform in donationforms | filter: { IsPublished: false, IsArchived: false } | orderBy: 'Title'">
                  {{donationform.Title}} (ID: {{donationform.FormId}})
                </option>
              </optgroup>
              <optgroup label="Archived">
                <option value="{{donationform.FormId}}" ng-repeat="donationform in donationforms | filter: { IsArchived: true } | orderBy: 'Title'">
                  {{donationform.Title}} (ID: {{donationform.FormId}})
                </option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>