<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Donations <!-- TODO <small>Updated 9/21/2015 1:25pm</small> -->
    </h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- TODO <div class="box-header">
            <h3 class="box-title">
              Report Name
            </h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool">
                <i class="fa fa-wrench"></i>
              </button>
            </div>
          </div> -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped report-table">
                <thead>
                  <tr>
                    <th>
                      Time Period
                    </th>
                    <th>
                      One-Time Count
                    </th>
                    <th>
                      One-Time Amount
                    </th>
                    <th>
                      Sustaining Count
                    </th>
                    <th>
                      Sustaining Amount
                    </th>
                    <th>
                      Total Count
                    </th>
                    <th>
                      Total Amount
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="donationsum in donationsums">
                    <td>
                      <span class="hidden">{{donationsum.period}}</span>
                      {{donationsum.periodFormatted}}
                    </td>
                    <td>
                      {{donationsum.oneTimeCount}}
                    </td>
                    <td>
                      <span class="hidden">{{donationsum.oneTimeAmount}}</span>
                      {{donationsum.oneTimeAmountFormatted}}
                    </td>
                    <td>
                      {{donationsum.recurringCount}}
                    </td>
                    <td>
                      <span class="hidden">{{donationsum.recurringAmount}}</span>
                      {{donationsum.recurringAmountFormatted}}
                    </td>
                    <td>
                      {{donationsum.count}}
                    </td>
                    <td>
                      <span class="hidden">{{donationsum.amount}}</span>
                      {{donationsum.amountFormatted}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="overlay js--loading-overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>