<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Ecommerce <small>{{updateTime}}</small>
    </h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#report-config-modal" data-backdrop="static">
                <i class="fa fa-wrench"></i>
              </button> 
              <button type="button" class="btn btn-box-tool" ng-click="refreshReport()">
                <i class="fa fa-refresh"></i>
              </button> 
              <button type="button" class="btn btn-box-tool" ng-click="download()">
                <i class="fa fa-floppy-o"></i>
              </button>
              <input type="file" class="hidden js--report-save-as" nwsaveas="ecommerce-summary.csv">
            </div>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-striped report-table">
              <thead>
                <tr>
                  <th>
                    Time Period
                  </th>
                  <th>
                    Total Count
                  </th>
                  <th>
                    Total Amount
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="ordersum in ordersums">
                  <td>
                    <span class="hidden">{{ordersum.period}}</span>
                    {{ordersum.periodFormatted}}
                  </td>
                  <td>
                    {{ordersum.count}}
                  </td>
                  <td>
                    <span class="hidden">{{ordersum.amount}}</span>
                    {{ordersum.amountFormatted}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="overlay js--loading-overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal fade" id="report-config-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="reportconfigform" id="report-config-form" ng-submit="updateReportConfig($event)">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
          <h4 class="modal-title">
            Report Settings
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>
              Date Range:
            </label>
            <div class="input-group input-group-full">
              <button type="button" class="btn btn-default btn-white d btn-full text-left" id="report-config-datepicker">
                <i class="fa fa-calendar"></i> {{reportconfig.datelabel}} <i class="fa fa-caret-down pull-right"></i>
              </button>
            </div>
            <input type="hidden" name="datelabel" ng-model="reportconfig.datelabel" value="Last 24 Hours">
            <input type="hidden" name="startdate" ng-model="reportconfig.startdate">
            <input type="hidden" name="enddate" ng-model="reportconfig.enddate">
          </div>
          <div class="form-group">
            <label>
              Summary Interval:
            </label>
            <select class="form-control" name="summaryinterval" ng-model="reportconfig.summaryinterval">
              <option value="hourly" selected>Hourly</option>
              <option value="daily">Daily</option>
              <option value="weekly">Weekly</option>
              <option value="monthly">Monthly</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>