<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Constituents <!-- TODO <small>Updated 9/21/2015 1:25pm</small> -->
    </h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- TODO <div class="box-header">
            <h3 class="box-title">
              Report Name
            </h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool">
                <i class="fa fa-wrench"></i>
              </button>
            </div>
          </div> -->
          <div class="box-body">
            <table class="table table-bordered table-striped report-table">
              <thead>
                <tr>
                  <th>
                    Constituent ID
                  </th>
                  <th>
                    First Name
                  </th>
                  <th>
                    Last Name
                  </th>
                  <th>
                    Email Address
                  </th>
                  <th>
                    Creation Date
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="constituent in constituents">
                  <td>
                    {{constituent.ConsId}}
                  </td>
                  <td>
                    {{constituent.ConsName.FirstName}}
                  </td>
                  <td>
                    {{constituent.ConsName.LastName}}
                  </td>
                  <td>
                    <a href="mailto:{{constituent.PrimaryEmail}}">{{constituent.PrimaryEmail}}</a>
                  </td>
                  <td>
                    {{constituent._CreationDateFormatted}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="overlay js--loading-overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>