<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Ecommerce <!-- TODO <small>Updated 9/21/2015 1:25pm</small> -->
    </h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <!-- TODO <div class="box-header">
            <h3 class="box-title">
              Report Name
            </h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool">
                <i class="fa fa-wrench"></i>
              </button>
            </div>
          </div> -->
          <div class="box-body">
            <table class="table table-bordered table-striped report-table">
              <thead>
                <tr>
                  <th>Time Period</th>
                  <th>Total Count</th>
                  <th>Total Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="ordersum in ordersums">
                  <td>{{ordersum.period}}</td>
                  <td>{{ordersum.count}}</td>
                  <td>${{ordersum.amount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="overlay js--loading-overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>